APScheduler==3.1.0
bcrypt==2.0.0
blinker==1.4
cffi==1.5.2
Flask==0.10.1
Flask-Bcrypt==0.7.1
Flask-Login==0.3.2
Flask-SQLAlchemy==2.1
Flask-WhooshAlchemy==0.56
Flask-WTF==0.12
funcsigs==0.4
futures==3.0.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pycparser==2.14
pytz==2016.3
six==1.10.0
SQLAlchemy==1.0.12
tzlocal==1.2.2
Werkzeug==0.11.5
wheel==0.24.0
Whoosh==2.7.3
WTForms==2.1
