body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

#complaint-form-title {
  display: block;
  border:0;
  width: 100%;
  font-size:140%;
  border-radius:3px;
  background:#FFC;
  overflow:hidden;
  font-smoothing:subpixel-antialiased;
}

#complaint-form-text  { 
  display: block;
  resize: none;
  padding:0;
  margin:5px 0 0 0;
  border:0;
  height: 11em;
  width: 100%;
  font-family:"Coming Soon",arial,sans-serif;
  border-radius:3px;
  background:#FFC;
  overflow:hidden;
  font-smoothing:subpixel-antialiased;
}

#complaint-submit {
  margin-bottom: 0px;
  border:0 none;
}

#complaint-form-text:focus, #complaint-form-title:focus, #complaint-submit:focus { 
  outline:none; 
}

.sticky-top {
  display: inline-block;
  margin-bottom: 0px;
}

.sticky-bottom {
  position:absolute; 
  bottom:0;
}

#sticky ul{
  overflow:hidden;
  padding:3em;
}

#sticky ul li{
  list-style:none;
  margin-bottom: 3em;
}

#sticky ul li .sticky-note{
  background:#FFC;
  display:block;
  height:17em;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,.5);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.2);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.2);

  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);

  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

#sticky ul li h2{
  margin-top: 0;
  font-size:140%;
}

#sticky ul li p{
  font-family:"Coming Soon",arial,sans-serif;
}

.complaint-text {
  overflow: auto;
  height: 9em;
}

#sticky ul li:nth-child(even) .sticky-note{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}
#sticky ul li:nth-child(3n) .sticky-note{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
#sticky ul li:nth-child(5n) .sticky-note{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

#sticky ul li .sticky-note:hover,#sticky ul li .sticky-note:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.3);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.1);
  box-shadow:10px 10px 7px rgba(0,0,0,.1);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:3;
}

.sticky-note a {
  text-decoration: none;
  color: #000;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin #last-input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
