{% extends "base.html" %}
{% block content %}
	<div class="container">
		{% if not complaints %}
			<div class="alert alert-info" role="alert" style="text-align:center">
			{% if title == "Search Results" %}
				No complaints matched your search
			{% else %}
				{% if not current_user.is_authenticated %}
					Looks like nobody has complains...perfect world? Login to add some!
				{% elif current_user.is_authenticated and title == "Home" %}
					Looks like nobody has complains...perfect world? Add your own!
				{% else %}
					No complaints found that have anything to do with you...not even remotely!
				{% endif %}
			{% endif %}
			</div>
		{% endif %}
	</div>
	<div class="container">
		{% if header and complaints%}
			<div class="page-header">
			  <h1>{{ header }}<small>{{ subheader }}</small></h1>
			</div>
		{% endif %}
	</div>
	<div class="container" id="sticky">
		<ul>
			{% if current_user.is_authenticated and title=="Home" and not current_user.is_admin %}
			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<span class="sticky-note">
					<form action="" method="post" name="complain">
						{{ form.hidden_tag() }}
						{{ form.title(id="complaint-form-title", placeholder="What is so sad?", autocomplete="off", required=True) }}
						{{ form.text(id="complaint-form-text", placeholder="Write your complaint here", required=True) }}
						<input id="complaint-submit" class="btn-success" type="submit" value="Complain">
					</form>
				</span>
			</li>
			{% endif %}
			{% for complaint in complaints %}
			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<span class="sticky-note">
					{% if current_user.is_admin or complaint.get_user() == current_user.get_id() or not current_user.is_authenticated %}
						<p class="sticky-top pull-left"><sup><span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span> {{ complaint.upvotes }} - {{ complaint.hotness }}</sup></p>						
					{% else %}
						<a href="{{url_for('upvote', complaint_id=complaint.id)}}"><p class="sticky-top pull-left"><sup><span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span> {{ complaint.upvotes }} - {{ complaint.hotness }}</sup></p></a>
					{% endif %}
					<p class="sticky-top pull-right"><sup>{{ complaint.timestamp.strftime('%d %b %Y') }}</sup></p>
					<div class="clearfix"></div>
					<h2>{{ complaint.title }}</h2>
					<p class="complaint-text">{{ complaint.text }}</p>
					
					{% if complaint.get_user() == current_user.get_id() %}
						{% if complaint.is_resolved %}
							<p class="sticky-bottom" style="left:1em;"><span class="glyphicon glyphicon-check text-success" aria-hidden="true"></span></p>
						{% else %}
							<a href="{{url_for('set_resolved', complaint_id=complaint.id)}}"><p class="sticky-bottom" style="left:1em;"><span class="glyphicon glyphicon-check" aria-hidden="true" style="color:grey"></span></p></a>
							{% if complaint.is_underProcess %}
								<p class="sticky-bottom" style="right:1em;"><span class="glyphicon glyphicon-hourglass text-primary" aria-hidden="true"></span></p>
							{% endif %}
						{% endif %}

					{% elif current_user.is_admin %}
						{% if complaint.is_resolved %}
							<p class="sticky-bottom" style="left:1em;"><span class="glyphicon glyphicon-check text-success" aria-hidden="true"></span></p>
						{% else %}
							{% if complaint.is_underProcess %}
								<p class="sticky-bottom" style="right:1em;"><span class="glyphicon glyphicon-hourglass text-primary" aria-hidden="true"></span></p>
							{% else %}
								<a href="{{url_for('set_underProcess', complaint_id=complaint.id)}}"><p class="sticky-bottom" style="right:1em;"><span class="glyphicon glyphicon-hourglass" aria-hidden="true" style="color:grey"></span></p></a>
							{% endif %}
						{% endif %}

					{% else %}
						{% if complaint.is_resolved %}
							<p class="sticky-bottom" style="left:1em;"><span class="glyphicon glyphicon-check text-success" aria-hidden="true"></span></p>
						{% elif complaint.is_underProcess %}
							<p class="sticky-bottom" style="right:1em;"><span class="glyphicon glyphicon-hourglass text-primary" aria-hidden="true"></span></p>
						{% endif %}

					{% endif %}
				</span>
			</li>
			{% endfor %}
	</div>
{% endblock %}

