{% extends "base.html" %}
{% block content %}
<div class="container" id="sticky">

<ul>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a class="not-active">
			<p class="sticky-top pull-left"><sup>Current user</sup></p>
			<p class="sticky-top pull-right"><sup>Current date</sup></p>
			<div class="clearfix"></div>
			<input id="complaint-title" name="complaint-title" type="text" placeholder="What is so sad?">
			<textarea id="complaint-text" name="complaint-text" placeholder="blabla"></textarea>
			<input id="complaint-submit" type="submit" value="Complain">
		</a>
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a href="#">
			<p class="sticky-top pull-left"><sup>Ketan Bhatt</sup></p>
			<p class="sticky-top pull-right"><sup>17th Jul 2015</sup></p>
			<div class="clearfix"></div>
			<h2>Title 1</h2>
			<p>Text content</p>
		</a>
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a href="#">
			<p class="sticky-top pull-left"><sup>Ketan Bhatt</sup></p>
			<p class="sticky-top pull-right"><sup>17th Jul 2015</sup></p>
			<div class="clearfix"></div>
			<h2>Title 2</h2>
			<p>Text content</p>
		</a>
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a href="#">
			<p class="sticky-top pull-left"><sup>Ketan Bhatt</sup></p>
			<p class="sticky-top pull-right"><sup>17th Jul 2015</sup></p>
			<div class="clearfix"></div>
			<h2>Title 1</h2>
			<p>Text content</p>
		</a>
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a href="#">
			<p class="sticky-top pull-left"><sup>Ketan Bhatt</sup></p>
			<p class="sticky-top pull-right"><sup>17th Jul 2015</sup></p>
			<div class="clearfix"></div>
			<h2>Title 1</h2>
			<p>Text content</p>
		</a>
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a href="#">
			<p class="sticky-top pull-left"><sup>Ketan Bhatt</sup></p>
			<p class="sticky-top pull-right"><sup>17th Jul 2015</sup></p>
			<div class="clearfix"></div>
			<h2>Title 2</h2>
			<p>Text content</p>
		</a>
	</li>
</ul>

</div>
{% endblock %}

