{% extends "base.html" %}
{% block content %}
	<div class="container">
		{% if not complaints %}
			<div class="alert alert-info" role="alert" style="text-align:center">
			{% if title == "Search Results" %}
				No complaints matched your search
			{% else %}
				{% if not current_user.is_authenticated() %}
					Looks like nobody has complains...perfect world? Login to add some!
				{% elif current_user.is_authenticated() and title == "Home" %}
					Looks like nobody has complains...perfect world? Add your own!
				{% else %}
					You, my happy sir, have not made any complaints!
				{% endif %}
			{% endif %}
			</div>
		{% endif %}
	</div>
	<div class="container">
		{% if header and complaints%}
			<div class="page-header">
			  <h1>{{ header }}<small>{{ subheader }}</small></h1>
			</div>
		{% endif %}
	</div>
	<div class="container" id="sticky">
		<ul>
			{% if current_user.is_authenticated() and title=="Home" %}
			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<form action="" method="post" name="complain">
					{{ form.hidden_tag() }}
					<a class="not-active">
						{{ form.title(id="complaint-title", placeholder="What is so sad?", autocomplete="off", required=True) }}
						{{ form.text(id="complaint-text", placeholder="Write your complaint here", required=True) }}
						<input id="complaint-submit" class="btn-success" type="submit" value="Complain">
					</a>
				</form>
			</li>
			{% endif %}
			{% for complaint in complaints %}
			<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<a href="#">
					<p class="sticky-top pull-left"><sup>{{ complaint.complainant.name }}</sup></p>
					<p class="sticky-top pull-right"><sup>{{ complaint.timestamp.strftime('%d %b %Y') }}</sup></p>
					<div class="clearfix"></div>
					<h2>{{ complaint.title }}</h2>
					<p>{{ complaint.text }}</p>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}

