{% extends "base.html" %}
{% block content %}
<div class="container" id="sticky">

<ul>
	{% for complaint in complaints %}
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a href="#">
			<p class="sticky-top pull-left"><sup>{{ complaint.complainant.name }}</sup></p>
			<p class="sticky-top pull-right"><sup>{{ complaint.timestamp.strftime('%d %b %Y') }}</sup></p>
			<div class="clearfix"></div>
			<h2>{{ complaint.title }}</h2>
			<p>{{ complaint.text }}</p>
		</a>
	</li>
	{% endfor %}
</ul>

</div>
{% endblock %}

